/*=================
Custom Properties
=================*/
:root {
    --ff-accent: "Gowun Batang", serif;
    --ff-primary: "Roboto", sans-serif;

    --clr-white: hsl(220, 6%, 90%);
    --clr-gray-light: hsl(233, 5%, 61%);
    --clr-gray: hsl(224, 8%, 38%);
    --clr-black: hsl(220, 15%, 16%);

    --clr-primary-v-light: hsl(215, 11%, 70%);
    --clr-primary-light: hsl(212, 12%, 51%);
    --clr-primary: hsl(219, 18%, 34%);

    --transition: all 0.3s;
    --radius: 5px;
}
/*=================
Global Styles
=================*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    background: hsl(220, 6%, 95%);
    line-height: 1.5;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1,
h2,
h3 {
    font-family: var(--ff-accent);
    line-height: 1.1;
}
/*=================
Utility Classes
=================*/
.container {
    width: min(85vw, 70.5rem);
    margin: 0 auto;
}
.row {
    display: flex;
}
/*=================
Animations
=================*/
@keyframes fade-in {
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes clouds {
    from {
        background-position: 50% 0%;
    }
    to {
        background-position: -550% 0%;
    }
}
/*=================
Main Header
=================*/
.header {
    background: linear-gradient(to top, hsla(220, 15%, 16%, 0.6), hsla(220, 15%, 16%, 0.1)), url("./assets/images/mobile/hero.webp") no-repeat center / cover;
    min-height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__toggle-btn {
    background: none;
    border: none;
}
.header__toggle-icon {
    width: 30px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.header__nav-list-container {
    display: none;
}
.header__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__banner-logo,
.leaders__logo {
    display: block;
    width: 150px;
    margin: 0 auto;
    transform: translateY(-20px);
    opacity: 0;
    animation: fade-in 1s ease-out forwards;
}
.header__banner-text-wrapper {
    text-align: center;
}
.header__heading {
    font-size: 2.5rem;
    opacity: 0;
    margin-top: 2rem;
    transform: translateX(-20px);
    animation: fade-in 1s ease-out forwards 1s;
}
.header__intro-text {
    font-family: var(--ff-primary);
    font-size: 0.8125rem;
    font-style: italic;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s ease-out forwards 2s;
    margin-top: 1.5rem;
}
/*=================
About Us Section
=================*/
.about {
    margin-top: 4.5rem;
    position: relative;
    background: linear-gradient(to top, hsla(212, 12%, 51%, 0.3), hsla(220, 6%, 95%, 1) 60%);
}
.about::before {
    content: "";
    position: absolute;
    top: -5.2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    width: 4px;
    background: var(--clr-black);
}
.about__heading {
    padding-top: 0.6em;
    text-align: center;
    font-weight: 700;
    /* transform: translateX(-10px); */
    /* opacity: 0; */
    /* animation: fade-in 1s ease-out forwards; */
}
.about .row {
    display: block;
    text-align: center;
    color: var(--clr-black);
}
.about__text {
    margin-top: 0.8em;
    width: (90%, 30ch);
}
.about__about-btn,
.activities__btn {
    display: inline-block;
    font-size: 0.9rem;
    margin: 1em 0;
    padding: 0.6em 2em;
    background: var(--clr-black);
    color: var(--clr-white);
    border-radius: var(--radius);
    text-transform: uppercase;
}
/*=================
Leader Section
=================*/
.leaders {
    padding-top: 6rem;
    position: relative;
    min-height: 100vh;
    color: white;
    text-align: center;
    background: linear-gradient(hsla(212, 12%, 51%, 0.3), hsla(212, 12%, 51%, 0));
    overflow: hidden;
}
.leaders .container{
    z-index: 2;
}
.leaders__logo {
    margin-top: 6em;
}
.leaders__heading {
    margin-top: 0.5em;
    font-size: 2rem;
    text-shadow: 0 0 10px hsla(220, 15%, 16%, 0.4), 0 0 20px hsla(220, 15%, 16%, 0.4), 0 0 50px hsla(220, 15%, 16%, 0.3);
}
.leaders::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: url("./assets/images/mobile/expedition.png") center / cover no-repeat;
    filter: saturate(150%);
    z-index: -3;
}
.leaders::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    min-height: 300px;
    background: url("./assets/images/cloud2.png") center / cover repeat;
    background-size: 200% 100%;
    z-index: -1;
    animation: clouds 120s linear infinite;
}
.leaders__text {
    margin-top: 1rem;
}
/*=================
Activities Section
=================*/
.activities {
    position: relative;
    padding: 13rem 0 8rem 0;
    margin-top: -6.5rem;
    width: 100%;
    color: white;
    text-align: center;
    /* min-height: 110rem; */
    background: linear-gradient(90deg, hsla(220, 25%, 16%, .8), hsla(220, 25%, 16%, .8)),
    url("./assets/images/mobile/snowfield.webp") center /cover no-repeat;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    z-index: -1;
}
.activities .row {
    display: block;
}
.activities__card{
}
.activities__card + .activities__card{
    margin-top: 2.5rem;
}
.activities__card-heading{
    font-size: 1.5rem;
    margin-top: 1.4rem;
}
.activities__card-excerpt{
    margin-top: 1rem;
    font-size: 0.8125rem;
}
.activities__img-wrapper {
    width: min(100%, 300px);
    min-height: 300px;
    border-radius: var(--radius);
    overflow: hidden;
    margin: 0 auto;
}
.activities__btn {
    background: var(--clr-primary-light);
    text-transform: uppercase;
    margin-bottom: 0;
}
/*=================
Statistics Section
=================*/
.statistics{
text-align: center;
margin-top: 2em;
}
.statistics__heading{
    font-size: 2rem;
}
.statistics__sub-heading{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 0.8125rem;
    margin-top: 1em;
    letter-spacing: 5px;
}
.statistics .row{
    display: block;
}
.statistics__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border: 2px dashed var(--clr-primary);
    padding: .5em 0;
    margin: 1em auto;
    width: 200px;
    height: 200px;
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    text-align: center;
    border-radius: var(--radius);
}
.statistics__icon{
    display: block;
    width: 50px;
    stroke: var(--clr-primary);
}
.statistics__number{
    display: block;
    font-size: 4rem;
    font-family: var(--ff-accent);
    color: var(--clr-black);
}
.statistics__desc{
    display: inline-block;
    font-size: 1rem;
    /* font-weight: 300; */
}
/*=================
Footer
=================*/
