/*=================
Custom Properties
=================*/
:root {
    --ff-accent: "Gowun Batang", serif;
    --ff-primary: "Roboto", sans-serif;

    --clr-white: hsl(220, 6%, 90%);
    --clr-gray-light: hsl(233, 5%, 61%);
    --clr-gray: hsl(224, 8%, 38%);
    --clr-black: hsl(220, 15%, 16%);

    --clr-primary-v-light: hsl(215, 11%, 70%);
    --clr-primary-light: hsl(212, 12%, 51%);
    --clr-primary: hsl(219, 18%, 34%);

    --clr-accent: #b39659;
    --clr-accent-dark: #665c47;
    --clr-accent-dark-2: #7a6942;
    --clr-accent-black: #2e2a22;

    --transition: all 0.3s;
    --radius: 5px;
}
/*=================
Global Styles
=================*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--ff-primary);
    background: hsl(220, 6%, 95%);
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
h1,
h2,
h3 {
    font-family: var(--ff-accent);
    line-height: 1.1;
}
/*=================
Utility Classes
=================*/
.container {
    width: min(85vw, 70.5rem);
    margin: 0 auto;
}
.row {
    display: flex;
}
.no-scroll {
    overflow: hidden;
}
.fade-in-left,
.fade-in-right,
.fade-in-top,
.fade-in-bottom {
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}
.fade-in-left {
    transform: translateX(-20px);
}
.fade-in-right {
    transform: translateX(20px);
}
.fade-in-top {
    transform: translateY(-20px);
}
.fade-in-bottom {
    transform: translateY(20px);
}
.delay-p3 {
    transition-delay: 0.3s;
}
.delay-p4 {
    transition-delay: 0.4s;
}
.delay-p5 {
    transition-delay: 0.5s;
}
.delay-1 {
    transition-delay: 1s;
}
.delay-1p5 {
    transition-delay: 1.5s;
}
.delay-2 {
    transition-delay: 2s;
}
.delay-2p5 {
    transition-delay: 2.5s;
}
.appear {
    opacity: 1;
    transform: translate(0);
}
/*=================
Animations
=================*/
@keyframes clouds {
    from {
        background-position: 50% 0%;
    }
    to {
        background-position: -550% 0%;
    }
}
@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 0.75;
    }
    to {
        transform: scale(1.4);
        opacity: 0;
    }
}
/*=================
Main Header
=================*/
.header {
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0); /* doesn't need to be here anymore but header breaks without it now :( */
}
.header::before {
    --clr-black: hsla(220, 15%, 16%, 0.6);

    background: linear-gradient(to top, var(--clr-black), var(--clr-black)), url("./assets/images/mobile/hero.webp") no-repeat center / cover;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
    overflow: hidden;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.header__nav-content {
    width: 0;
}
.header__toggle-btn {
    background: none;
    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transform: translateX(0);
    transition: transform 0.6s;
}
.header.nav-active .header__toggle-btn {
    z-index: 99;
}
.header__toggle-icon {
    width: 35px;
    stroke: white;
    transition: stroke 0.6s;
}
.header__language {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    bottom: 1rem;
    opacity: 0;
    width: 0;
    font-size: 0.8125rem;
    font-weight: 700;
    transition: opacity 0.3s, transform 0.1s;
    z-index: 51;
}
.header.nav-active .header__language {
    opacity: 1;
    width: auto;
    transform: translate(-50%, 0);
}
.header__search-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4.5rem;
    width: min-content;
    height: 20px;
    z-index: 51;
}
.header__search {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 0.9rem;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 1s .3s;
    pointer-events: none;
}
.header.nav-active .header__search {
    pointer-events: all;
    border-bottom: 2px solid var(--clr-primary-v-light);
    transform: scale(1);
}
.header__search-icon {
    position: absolute;
    top: -3px;
    right: 0;
    opacity: 0;
    width: 0;
    stroke: white;
    transition: all 0.4s;
}
.header.nav-active .header__search-icon {
    width: 20px;
    opacity: 1;
}
.header__nav-list-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transform: rotateY(90deg);
    transition: all 0.4s;
    z-index: 50;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 50% 100%, 0 92%);
}
.header.nav-active .header__nav-list-container {
    transform: rotate(0deg);
    opacity: 1;
    width: 100%;
    height: 100%;
}
.header__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2em;
    background: var(--clr-primary);
    list-style-type: none;
    overflow-y: auto;
}
.header__nav-list-item {
    padding: 0.5em 0;
    margin: 0.5em 0;
    text-align: center;
}
.header__nav-list-item:first-child {
    margin-top: -3em;
}
.header__nav-list-item a {
    color: white;
    font-family: var(--ff-accent);
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.4s linear;
    transition-delay: calc(0.15s * var(--i));
}
.header.nav-active .header__nav-list-item a {
    opacity: 1;
}
.header__toggle-icon .line1,
.header__toggle-icon .line2,
.header__toggle-icon .line3 {
    transform: rotateZ(0deg);
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.header__toggle-icon .line1 {
    transform-origin: left top;
}
.header__toggle-icon .line3 {
    transform-origin: left bottom;
}
.header.nav-active .header__toggle-icon .line1 {
    transform: translate(30%, -13%) rotateZ(41deg);
}
.header.nav-active .header__toggle-icon .line2 {
    width: 0;
    opacity: 0;
}
.header.nav-active .header__toggle-icon .line3 {
    transform: translate(30%, 0%) rotateZ(-41deg);
}

.header__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__banner-logo,
.leaders__logo {
    display: block;
    width: 150px;
    margin: 0 auto;
}
.header__banner-text-wrapper {
    text-align: center;
}
.header__heading {
    font-size: 2.5rem;
    margin-top: 2rem;
}
.header__intro-text {
    margin-top: 1.5rem;
    font-family: var(--ff-primary);
    font-size: 0.8125rem;
    font-style: italic;
}
.back-to-top-btn {
    display: flex;
    justify-content: center;
    place-items: center;
    position: fixed;
    bottom: 0.6rem;
    right: 0.6rem;
    width: 40px;
    height: 40px;
    background: var(--clr-black);
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.4s, opacity 0.4s;
}
.back-to-top-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
}
.back-to-top-btn.active {
    opacity: 1;
    transform: translateY(0);
}
.back-to-top-btn.active::before {
    background: var(--clr-primary-light);
    animation: pulse 3s ease infinite;
}
.back-to-top-icon {
    fill: var(--clr-white);
    width: 30px;
}
/*=================
About Us Section
=================*/
.about {
    margin-top: 4.5rem;
    position: relative;
    background: linear-gradient(to top, hsla(212, 12%, 51%, 0.3), hsla(220, 6%, 95%, 1) 60%);
}
.about::before {
    content: "";
    position: absolute;
    top: -5.2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    width: 4px;
    background: var(--clr-black);
    transition: opacity 0.6s;
}
#body.no-scroll .about::before {
    opacity: 0;
}
.about__heading {
    padding-top: 0.6em;
    text-align: center;
    font-weight: 700;
    /* transform: translateX(-10px); */
    /* opacity: 0; */
    /* animation: fade-in 1s ease-out forwards; */
}
.about .row {
    display: block;
    text-align: center;
    color: var(--clr-black);
}
.about__text {
    margin: 0.8em auto 0 auto;
    width: min(90%, 45ch);
}
.about__about-btn,
.activities__btn {
    display: inline-block;
    font-size: 0.9rem;
    margin: 1em 0;
    padding: 0.6em 2em;
    background: var(--clr-black);
    color: var(--clr-white);
    border-radius: var(--radius);
    text-transform: uppercase;
}
/*=================
Leader Section
=================*/
.leaders {
    padding-top: 6rem;
    position: relative;
    min-height: 100vh;
    color: white;
    text-align: center;
    background: linear-gradient(hsla(212, 12%, 51%, 0.3), hsla(212, 12%, 51%, 0));
    overflow: hidden;
}
.leaders .container {
    z-index: 2;
}
.leaders__logo {
    margin-top: 6em;
    /* opacity: 1; */
}
.leaders__heading {
    --clr-black: hsla(220, 15%, 16%, 0.4);

    margin-top: 0.5em;
    font-size: 2rem;
    text-shadow: 0 0 10px var(--clr-black), 0 0 20px var(--clr-black), 0 0 50px var(--clr-black);
}
.leaders::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: url("./assets/images/mobile/expedition.png") center / cover no-repeat;
    filter: saturate(150%);
    z-index: -3;
}
.leaders::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    min-height: 300px;
    background: url("./assets/images/cloud2.png") center / cover repeat;
    background-size: 200% 100%;
    z-index: -1;
    animation: clouds 120s linear infinite;
}
.leaders__text {
    margin: 1rem auto 0 auto;
    max-width: 50ch;
}
/*=================
Activities Section
=================*/
.activities {
    --clr-black: hsla(220, 25%, 16%, 0.8);

    position: relative;
    padding: 13rem 0 8rem 0;
    margin-top: -6.5rem;
    width: 100%;
    color: white;
    text-align: center;
    background: linear-gradient(90deg, var(--clr-black), var(--clr-black)), url("./assets/images/mobile/snowfield.webp") center / cover no-repeat;
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
    z-index: -1;
}
.activities .row {
    display: block;
}
.activities__card + .activities__card {
    margin-top: 4rem;
}
.activities__card-heading {
    font-size: 1.5rem;
    padding-top: 0.5em;
}
.activities__card-excerpt {
    margin: 0.8rem auto 0 auto;
    font-size: 0.8125rem;
    max-width: 45ch;
}
.activities__img-wrapper {
    width: min(100%, 300px);
    min-height: 300px;
    border-radius: var(--radius);
    overflow: hidden;
    margin: 0 auto;
}
.activities__btn {
    background: var(--clr-primary-light);
    text-transform: uppercase;
    margin-bottom: 0;
}
/*=================
Statistics Section
=================*/
.statistics {
    text-align: center;
    margin-top: 2em;
}
.statistics__heading {
    font-size: 2rem;
    color: var(--clr-black);
}
.statistics__sub-heading {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 0.8125rem;
    margin-top: 1em;
    letter-spacing: 5px;
    color: var(--clr-gray);
}
.statistics .row {
    display: block;
}
.statistics__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed var(--clr-primary);
    padding: 0.5em 0;
    margin: 1em auto;
    width: 200px;
    height: 200px;
    font-family: var(--ff-primary);
    color: var(--clr-primary);
    text-align: center;
    border-radius: var(--radius);
}
.statistics__icon,
.statistics__icon * {
    stroke: var(--clr-primary);
    fill: var(--clr-primary);
}
.statistics__icon {
    display: block;
    width: 50px;
}

.statistics__number {
    display: block;
    font-size: 3rem;
    font-family: var(--ff-accent);
    color: var(--clr-black);
}
.statistics__desc {
    display: inline-block;
    font-size: 1rem;
    /* font-weight: 300; */
}
/*=================
Contact Us Section
=================*/
.contact-us {
    --clr-black: hsla(220, 15%, 16%, 0.8);
    background: linear-gradient(var(--clr-black), var(--clr-black)), url("./assets/images/mobile/mountain-valley.webp") center / cover no-repeat;
    margin-top: 8rem;
    padding: 4rem 0;
}
.contact-us__heading {
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-bottom: 0.6em;
}
.contact-us__name-input,
.contact-us__email-input,
.contact-us__message-input {
    --clr-primary-v-light: hsla(215, 11%, 70%, 0.8);
    display: block;
    background: none;
    padding: 0.6em;
    outline: none;
    width: min(100%, 350px);
    margin: 1em auto 0 auto;
    border: 1px solid var(--clr-primary-v-light);
    border-right-color: hsla(220, 6%, 90%, 0.2);
    border-bottom-color: hsla(220, 6%, 90%, 0.2);
    border-radius: var(--radius);
    font-family: inherit;
    font-size: 1rem;
    color: white;
    backdrop-filter: blur(1px);
}
.contact-us__name-input::placeholder,
.contact-us__email-input::placeholder,
.contact-us__message-input::placeholder {
    color: var(--clr-primary-v-light);
}
.contact-us__submit-btn {
    display: block;
    background: transparent;
    margin: 1.5em auto;
    padding: 0.8em 3em;
    border: 2px solid var(--clr-primary-v-light);
    border-radius: var(--radius);
    font-family: inherit;
    text-transform: uppercase;
    color: white;
}
/*=================
Footer
=================*/
.footer {
    padding: 4rem 0 2rem 0;
    background: var(--clr-primary);
    color: var(--clr-white);
}
.footer__logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}
.footer__nav-list {
    list-style-type: none;
    margin: 1rem auto;
}
.footer__nav-list-item {
    text-align: center;
    padding: 0.5rem 0;
}
.footer__nav-list-item a {
    color: var(--clr-white);
}
.footer__copyright,
.footer__developer {
    font-size: 0.8125rem;
    text-align: center;
}
.footer__developer {
    padding-top: 1em;
}
.footer__developer a {
    color: white;
}
@media (min-width: 48em) {
    /*=================
    Header Section
    =================*/
    .header__toggle-btn {
        display: none;
    }
    .header__nav-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        top: 0;
        width: min(85vw, 70.5rem);
        padding-block: 1.5em;
    }
    .header__language {
        order: 1;
        position: static;
        width: auto;
        transform: none;
        opacity: 1;
        margin-right: auto;
    }
    .header__search-wrapper {
        position: static;
        order: 3;
        transform: none;
        pointer-events: all;
    }
    .header__search {
        border-bottom: 1px solid white;
    }
    .header__search-icon {
        position: static;
        opacity: 1;
        width: 20px;
        transform: translate(750%, -130%);
    }
    .header__nav-list-container {
        position: static;
        order: 2;
        opacity: 1;
        width: min(100%, 450px);
        margin: 0 auto;
        height: auto;
        transform: scale(1);
    }
    .header__nav-list {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        padding: 0;
        background: none;
        padding-inline: 1.5em;
    }
    .header__nav-list-item:first-child {
        margin-top: 0.5em;
    }
    .header__nav-list-item a {
        opacity: 1;
        font-size: 0.8125rem;
    }
}
@media (min-width: 35.5em) and (max-width: 47.9375em) and (orientation: landscape) {
    .header__nav-list {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .header__nav-list-item:first-child {
        margin-top: 0;
    }
    .header__nav-list-item{
        margin: 0;
    }
    .header__nav-list-item:nth-child(odd){
        margin-top: -20%;
    }
    .header__nav-list-item:nth-child(even){
        margin-top: 10%;
    }
}
@media (min-width: 53.125em) {
    body {
        overflow: overlay;
    }
    ::-webkit-scrollbar {
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: hsla(0, 0%, 0%, 0.6);
        border: 4px solid transparent;
        background-clip: content-box;
        border-radius: 20px;
    }
}
